#Comment
net/minecraft/core/HolderSet test/SimpleInterface #Comment
# A generic
net/minecraft/core/HolderSet java/util/function/Predicate<TT;>
# Nested generic signatures
net/minecraft/core/HolderSet test/AdvancedGenericInterface<Ljava/util/function/Predicate<TT;>;Ljava/lang/Integer;>
# This will fail with invalid reference
#net/minecraft/core/HolderSet test/AdvancedGenericInterface<Ljava/util/function/Predicate<TB;>;Ljava/lang/Integer;>